<div>
  <%= form_with(model: @search_request, url: search_requests_path, method: :post) do|f| %>
    <div class="form-group">
        <div class ="mb-3", style="max-width:200px">
          <label for="make", class="form-label">Car brand:</label>
          <%= f.text_field :make, class:'form-control', id:'make' %>
        </div>

        <div class ="mb-3", style="max-width:200px">
          <label for="model", class="form-label">Car model:</label>
          <%= f.text_field :model, class:'form-control', id:'model' %>
        </div>

      <div class="form-group">
        <div class="form-label">Year of manufacture:</div>
          <%= f.number_field :year_from, class:"mb-3", placeholder: 'from'%> 
          <%= f.number_field :year_to, class:"mb-3", placeholder: 'to' %> 
      </div> 

      <div class="form-group">
        <div class="form-label">Price:</div>
          <%= f.number_field :price_from, class:"mb-3", placeholder: 'from' %>
          <%= f.number_field :price_to, class:"mb-3", placeholder: 'to' %> 
      </div>

      <div class ="mb-3">
        <%= f.submit "Search", class:'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>


