<div class="card_block" id="<%= dom_id search_request %>" >                
    <div class="card p-2 m-4 _card_width">
        <p>
        <strong>Make:</strong>
        <%= search_request.make %>
        </p>
        <p> 
        <strong>Model:</strong>
        <%= search_request.model %>
        </p>
        <p>
        <strong>Year:</strong>
        <%= search_request.year_from %>
        </p>
        <p>
        <strong>Year:</strong>
        <%= search_request.year_to %>
        </p>
        <p>
        <strong>Price:</strong>
        <%= search_request.price_from %>
        </p>
        <p>
        <strong>Price:</strong>
        <%= search_request.price_to %>
        </p>
    </div>
</div>